USE [master]
GO
/****** Object:  Database [FACUNDOANGELDB]    Script Date: 05/09/2023 12:17:40 ******/
CREATE DATABASE [FACUNDOANGELDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FACUNDOANGELDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FACUNDOANGELDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FACUNDOANGELDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FACUNDOANGELDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FACUNDOANGELDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FACUNDOANGELDB]
GO
/****** Object:  Schema [ddbba]    Script Date: 05/09/2023 12:17:40 ******/
CREATE SCHEMA [ddbba]
GO
/****** Object:  UserDefinedFunction [ddbba].[validaCursada]    Script Date: 05/09/2023 12:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [ddbba].[validaCursada] 
(@DNI INT)
RETURNS INT
AS
BEGIN

		DECLARE @RESULTADO INT;

	
		WITH CTE_PERS AS(
			SELECT P.*
			,C.TURNO
			,C.NRO_COM
			,C.DIA
			FROM DDBBA.PERSONA P, DDBBA.ESTUDIA_EN EN, DDBBA.CURSO C
			WHERE P.ID=EN.ID_PERSONA AND EN.ID_MAT=C.ID_MAT
			AND P.DNI=@DNI
		)SELECT @RESULTADO = COUNT(*) 
		FROM (
			SELECT C.*
			,ROW_NUMBER() OVER(PARTITION BY C.DIA,C.TURNO ORDER BY C.TURNO) AS NUM
			FROM CTE_PERS C
		) SUBCONS
		WHERE SUBCONS.NUM <> 1
		

		RETURN @RESULTADO
END
GO
/****** Object:  Table [ddbba].[PERSONA]    Script Date: 05/09/2023 12:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ddbba].[PERSONA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [int] NULL,
	[NOMBRE] [varchar](30) NULL,
	[APELLIDO] [varchar](30) NULL,
	[PATENTE_VEHICULO] [char](7) NULL,
	[LOCALIDAD] [varchar](30) NULL,
	[FECHA_NAC] [date] NULL,
	[TELEFONO] [int] NULL,
 CONSTRAINT [PK_PERSONA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ddbba].[CURSO]    Script Date: 05/09/2023 12:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ddbba].[CURSO](
	[NRO_COM] [int] NOT NULL,
	[NOMBRE] [varchar](30) NULL,
	[ID_MAT] [int] NOT NULL,
	[DIA] [varchar](16) NULL,
	[TURNO] [char](2) NULL,
 CONSTRAINT [PK_CURSO] PRIMARY KEY CLUSTERED 
(
	[NRO_COM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ddbba].[ESTUDIA_EN]    Script Date: 05/09/2023 12:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ddbba].[ESTUDIA_EN](
	[ID_PERSONA] [int] NOT NULL,
	[ID_MAT] [int] NOT NULL,
 CONSTRAINT [PK_ESTUDIA_EN] PRIMARY KEY CLUSTERED 
(
	[ID_PERSONA] ASC,
	[ID_MAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [ddbba].[alumnosCInterposicion]    Script Date: 05/09/2023 12:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ddbba].[alumnosCInterposicion] 
AS
	SELECT DISTINCT
	A.ID
	,A.DNI
	,A.NOMBRE
	,A.APELLIDO
	,A.PATENTE_VEHICULO
	,A.LOCALIDAD
	,A.FECHA_NAC
	,A.TELEFONO
	FROM (
		SELECT P.*
				--,C.TURNO
				--,C.NRO_COM
				--,C.DIA
				,ROW_NUMBER() OVER (PARTITION BY C.DIA, C.TURNO,P.ID ORDER BY C.NRO_COM) AS NUM
				FROM DDBBA.PERSONA P, DDBBA.ESTUDIA_EN EN, DDBBA.CURSO C
				WHERE P.ID=EN.ID_PERSONA AND EN.ID_MAT=C.ID_MAT
	) A
	WHERE A.NUM <> 1

GO
/****** Object:  Table [ddbba].[DA_CLASE]    Script Date: 05/09/2023 12:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ddbba].[DA_CLASE](
	[ID_PERSONA] [int] NOT NULL,
	[ID_MAT] [int] NOT NULL,
 CONSTRAINT [PK_DA_CLASE] PRIMARY KEY CLUSTERED 
(
	[ID_PERSONA] ASC,
	[ID_MAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ddbba].[MATERIA]    Script Date: 05/09/2023 12:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ddbba].[MATERIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NULL,
 CONSTRAINT [PK_MATERIA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ddbba].[CURSO]  WITH CHECK ADD  CONSTRAINT [FK_MATERIA_CURSO] FOREIGN KEY([ID_MAT])
REFERENCES [ddbba].[MATERIA] ([ID])
GO
ALTER TABLE [ddbba].[CURSO] CHECK CONSTRAINT [FK_MATERIA_CURSO]
GO
ALTER TABLE [ddbba].[DA_CLASE]  WITH CHECK ADD  CONSTRAINT [FK__ID_MAT__DA_CLASE] FOREIGN KEY([ID_MAT])
REFERENCES [ddbba].[MATERIA] ([ID])
GO
ALTER TABLE [ddbba].[DA_CLASE] CHECK CONSTRAINT [FK__ID_MAT__DA_CLASE]
GO
ALTER TABLE [ddbba].[DA_CLASE]  WITH CHECK ADD  CONSTRAINT [FK__ID_PERSONA__DA_CLASE] FOREIGN KEY([ID_PERSONA])
REFERENCES [ddbba].[PERSONA] ([ID])
GO
ALTER TABLE [ddbba].[DA_CLASE] CHECK CONSTRAINT [FK__ID_PERSONA__DA_CLASE]
GO
ALTER TABLE [ddbba].[ESTUDIA_EN]  WITH CHECK ADD  CONSTRAINT [FK__ID_MAT__ESTUDIA_EN] FOREIGN KEY([ID_MAT])
REFERENCES [ddbba].[MATERIA] ([ID])
GO
ALTER TABLE [ddbba].[ESTUDIA_EN] CHECK CONSTRAINT [FK__ID_MAT__ESTUDIA_EN]
GO
ALTER TABLE [ddbba].[ESTUDIA_EN]  WITH CHECK ADD  CONSTRAINT [FK_ID__PERSONA__ESTUDIA_EN] FOREIGN KEY([ID_PERSONA])
REFERENCES [ddbba].[PERSONA] ([ID])
GO
ALTER TABLE [ddbba].[ESTUDIA_EN] CHECK CONSTRAINT [FK_ID__PERSONA__ESTUDIA_EN]
GO
ALTER TABLE [ddbba].[CURSO]  WITH CHECK ADD  CONSTRAINT [FORMAT_NRO_COM] CHECK  (([NRO_COM]>=(1000) AND [NRO_COM]<=(9999)))
GO
ALTER TABLE [ddbba].[CURSO] CHECK CONSTRAINT [FORMAT_NRO_COM]
GO
ALTER TABLE [ddbba].[PERSONA]  WITH CHECK ADD  CONSTRAINT [CK_PATENTE_PERSONA] CHECK  (([PATENTE_VEHICULO] like '[A-Z][A-Z][A-Z][0-9][0-9][0-9]' OR [PATENTE_VEHICULO] like '[0-9][0-9][0-9][A-Z][A-Z][A-Z]' OR [PATENTE_VEHICULO] like '[A-Z][A-Z][0-9][0-9][0-9][A-Z][A-Z]'))
GO
ALTER TABLE [ddbba].[PERSONA] CHECK CONSTRAINT [CK_PATENTE_PERSONA]
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_INSCRP_INTERPUESTAS]    Script Date: 05/09/2023 12:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ELIMINAR_INSCRP_INTERPUESTAS]
AS
BEGIN 
	DECLARE @ID_ALUMNO INT=1;
	DECLARE @ID_MAT INT;


	WHILE @ID_ALUMNO <> 0
	BEGIN

		
		SELECT TOP 1 @ID_ALUMNO=A.ID,@ID_MAT=A.ID_MAT FROM(
		
			SELECT P.*
				,C.TURNO
				,C.NRO_COM
				,C.DIA
				,EN.ID_MAT
				,ROW_NUMBER() OVER (PARTITION BY C.DIA, C.TURNO,P.ID ORDER BY C.NRO_COM) AS NUM
			FROM DDBBA.PERSONA P, DDBBA.ESTUDIA_EN EN, DDBBA.CURSO C
			WHERE P.ID=EN.ID_PERSONA AND EN.ID_MAT=C.ID_MAT

		) A
		WHERE A.NUM <> 1


		DELETE FROM DDBBA.ESTUDIA_EN
		WHERE ID_PERSONA=@ID_ALUMNO AND ID_MAT=@ID_MAT

		SET @ID_ALUMNO = ISNULL(@ID_ALUMNO,0)

	END




END
GO
/****** Object:  StoredProcedure [dbo].[insertarLog]    Script Date: 05/09/2023 12:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[insertarLog] (@moduloEntrada varchar(10),@textoEntrada nvarchar(50))
AS
BEGIN
	DECLARE @TEXTO nvarchar(50);

	IF (@moduloEntrada = '' OR @moduloEntrada IS NULL)
		SET  @TEXTO = 'N/A'
	ELSE
		SET  @TEXTO = @textoEntrada
		

	INSERT INTO [ddbba].[REGISTRO] 
	VALUES (GETDATE(),@TEXTO,@moduloEntrada);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_generarComisionesAleat]    Script Date: 05/09/2023 12:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_generarComisionesAleat] 
AS
BEGIN
	DECLARE @CANT_FILAS INT =	(SELECT COUNT(*) FROM ddbba.MATERIA);
	
	DECLARE @I INT = 0;


	WHILE @I<@CANT_FILAS
	BEGIN

		DECLARE @CANT_COMISIONES INT = RAND()*5+1
		,@J INT=0;

		WHILE @J<@CANT_COMISIONES
		BEGIN
			DECLARE @TURNO VARCHAR(2) = CASE CAST(RAND()*2+1 AS INT)
			WHEN 1 THEN 'TM'
			WHEN 2 THEN 'TT'
			ELSE 'TN'
			END;

			--NUMERO ENTRE 1000 Y 9999
			DECLARE @NRO INT = (RAND()*8999+1) + 1000;


			INSERT INTO ddbba.CURSO VALUES 
				(@NRO,@TURNO + '_' + CAST(@NRO AS VARCHAR) + '_' + CAST(@I AS VARCHAR),@I+1);

			SET @J = @J+1;
		END

	
	SET @I = @I + 1;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSCRIPCION_ALUMNOS]    Script Date: 05/09/2023 12:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSCRIPCION_ALUMNOS]
AS
BEGIN
	
	DECLARE @CANT_PERSONAS INT = (SELECT COUNT(*) FROM DDBBA.PERSONA);
	DECLARE @I INT = 1;

	-- PARA CADA PERSONA INICIO EL PROCESO DE INSCRIPCIÓN
	WHILE @I<=@CANT_PERSONAS
	BEGIN
		DECLARE @PERSONA_ID INT;

		WITH CTE_PERSONAS AS (
		SELECT *
		,ROW_NUMBER() OVER (ORDER BY ID) AS NUM
		FROM ddbba.PERSONA
		) SELECT @PERSONA_ID = ID FROM CTE_PERSONAS WHERE NUM = @I

		

		DECLARE @CANT_MAT_INSCRIPTO INT = RAND()*5+1;
		DECLARE @J INT = 0;


		--CALCULO UNA CANTIDAD RANDOM DE MATERIAS QUE SE VA A ANOTAR Y HAGO LA INSCRIPCION
		--PARA CADA MATERIA
		WHILE @J < @CANT_MAT_INSCRIPTO
		BEGIN
			DECLARE @MATERIA_ID INT = (SELECT TOP 1 ID FROM DDBBA.MATERIA ORDER BY NEWID());

			BEGIN TRY
				INSERT INTO DDBBA.ESTUDIA_EN VALUES (@PERSONA_ID,@MATERIA_ID);
			END TRY
			BEGIN CATCH
				--SI EN LA MATERIA YA ESTA INSCRIPTO DECREMENTO LA VARIABLE @J Y HAGO QUE REPITA
				--EL PROCESO HASTA ENCONTRAR UNA MATERIA EN LA QUE NO ESTE INSCRIPTO
				IF ERROR_NUMBER() = 2627
				BEGIN
					SET @J = @J - 1;
				END
			END CATCH

			SET @J = @J + 1;
		END

		SET @I = @I + 1;
	END

	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRO_RANDOM]    Script Date: 05/09/2023 12:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REGISTRO_RANDOM] (@CANTREG INT)
AS
BEGIN
	DECLARE @CONT INT = 0;
	WHILE (@CONT < @CANTREG)
	BEGIN
		DECLARE @NUEVO_DNI INT = RAND() * 99999999 +1;
		DECLARE @NUEVO_NOMBRE VARCHAR(30);
		DECLARE @NUEVO_APELLIDO VARCHAR(30);
		DECLARE @PATENTE VARCHAR(7)='';
		DECLARE @NUEVA_LOCALIDAD VARCHAR(30);
		DECLARE @NUEVA_FECHA DATE;
		DECLARE @NUEVO_TELEFONO INT = 40000000 + RAND() * (999999) + 1


		SET @NUEVO_NOMBRE = (CASE CAST((RAND()*4+1) AS INT)
			WHEN 1 THEN 'FACUNDO'
			WHEN 2 THEN 'BRIAN'
			WHEN 3 THEN 'TOBIAS'
			WHEN 4 THEN 'ALEXIS'
			ELSE 'MARTIN'
			END);

		SET @NUEVO_APELLIDO = (CASE CAST((RAND()*3+1) AS INT)
			WHEN 1 THEN 'GONZALEZ'
			WHEN 2 THEN 'MARTINEZ'
			WHEN 3 THEN 'ALTAMONTE'
			WHEN 4 THEN 'PEREYRA'
			ELSE 'GUTIERREZ'
			END);

		--GENERO ALEATORIAMENTE LA PATENTE
		DECLARE @I INT=0;
		WHILE(@I < 7)
		BEGIN
			IF(@I<3)
				SET @PATENTE = @PATENTE +  (CASE CAST((RAND()*3+1) AS INT)
					WHEN 1 THEN 'A'
					WHEN 2 THEN 'B'
					WHEN 3 THEN 'C'
					WHEN 4 THEN 'D'
					ELSE 'E'
					END);

			IF(@I>=4)
				SET @PATENTE = @PATENTE +  (CASE CAST((RAND()*3+1) AS INT)
					WHEN 1 THEN '1'
					WHEN 2 THEN '2'
					WHEN 3 THEN '3'
					WHEN 4 THEN '4'
					ELSE '5'
					END);


			SET @I = @I + 1;
		END


		SET @NUEVA_LOCALIDAD = (CASE CAST((RAND()*3+1) AS INT)
			WHEN 1 THEN 'GONZALEZ CATAN'
			WHEN 2 THEN 'MORON'
			WHEN 3 THEN 'L. DEL MIRADOR'
			WHEN 4 THEN 'RAMOS MEJIA'
			ELSE 'LANUS'
			END);

		DECLARE @FECHA_INICIO DATE='19950101';
		DECLARE @FECHA_FIN DATE ='20001231';
		DECLARE @DIF_DIAS INT = DATEDIFF(DAY,@FECHA_INICIO,@FECHA_FIN);

		SET @NUEVA_FECHA= DATEADD(DAY,RAND(CHECKSUM(NEWID()))*@DIF_DIAS,@FECHA_INICIO) 
	

		INSERT INTO DDBBA.PERSONA
			VALUES(@NUEVO_DNI,@NUEVO_NOMBRE,@NUEVO_APELLIDO,@PATENTE,@NUEVA_LOCALIDAD,@NUEVA_FECHA,@NUEVO_TELEFONO);

		SET @CONT = @CONT + 1;
	END
END
GO
/****** Object:  StoredProcedure [ddbba].[ELIMINAR_INSCRP_INTERPUESTAS]    Script Date: 05/09/2023 12:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [ddbba].[ELIMINAR_INSCRP_INTERPUESTAS]
AS
BEGIN 
	DECLARE @ID_ALUMNO INT=1;
	DECLARE @ID_MAT INT;


	WHILE @ID_ALUMNO <> 0
	BEGIN

		
		SELECT TOP 1 @ID_ALUMNO=A.ID,@ID_MAT=A.ID_MAT FROM(
		
			SELECT P.*
				,C.TURNO
				,C.NRO_COM
				,C.DIA
				,EN.ID_MAT
				,ROW_NUMBER() OVER (PARTITION BY C.DIA, C.TURNO,P.ID ORDER BY C.NRO_COM) AS NUM
			FROM DDBBA.PERSONA P, DDBBA.ESTUDIA_EN EN, DDBBA.CURSO C
			WHERE P.ID=EN.ID_PERSONA AND EN.ID_MAT=C.ID_MAT

		) A
		WHERE A.NUM <> 1


		DELETE FROM DDBBA.ESTUDIA_EN
		WHERE ID_PERSONA=@ID_ALUMNO AND ID_MAT=@ID_MAT

		SET @ID_ALUMNO = ISNULL(@ID_ALUMNO,0)

	END




END
GO
USE [master]
GO
